[submodule "vendor/buster-util"]
	path = vendor/buster-util
	url = git://gitorious.org/buster/buster-util.git
[submodule "vendor/buster-core"]
	path = vendor/buster-core
	url = git://gitorious.org/buster/buster-core.git
[submodule "vendor/sinon"]
	path = vendor/sinon
	url = git://github.com/cjohansen/Sinon.JS.git
