[submodule "deps/buster-util"]
	path = node_modules/buster-util
	url = git@git.cjohansen.no:buster-js/buster-util.git
[submodule "node_modules/buster-core"]
	path = node_modules/buster-core
	url = git@git.cjohansen.no:buster-js/buster-core.git
